<a href="https://colab.research.google.com/github/devikasood/graveyard/blob/main/python_assignment2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Q1. Split this string
s = "Hi there Class!"
into a list.

In [ ]:
s = "Hi there Class!"
l = s.split()
print(l)

['Hi', 'there', 'Class!']

Q2. Given the variables
planet = "Earth"
diameter = 12742
Use .format() to print the following string:
The diameter of Earth is 12742 kilometers.

In [ ]:
planet = "Earth"
diameter = 12742
print(f"the diameter of {planet} is {diameter}")

the diameter of Earth is 12742

Q3. Given this nested list, use indexing to grab the word "hello"
lst = [1,2,[3,4],[5,[100,200,['hello']],23,11],1,7]

In [ ]:
lst = [1,2,[3,4],[5,[100,200,['hello']],23,11],1,7]
print(lst[3][1][2][0])

hello

Q4. Given this nested dictionary grab the word "hello".
d = {'k1':[1,2,3,{'tricky':['oh','man','inception',{'target':[1,2,3,'hello']}]}]}

In [ ]:
d={'k1':[1,2,3,{'tricky':['oh','man','inception',{'target':[1,2,3,'hello']}]}]}
print(d['k1'][3]['tricky'][3]['target'][3])

hello

Q5. Create a function that grabs the email website domain from a string in the form:
user@domain.com

In [ ]:
def websiteDomain(string):
  string_list = string.split('@')
  domain = string_list[1]
  print(f"the domain is {domain}")



string = input()
websiteDomain(string)

devikasood.bt22cseds@pec.edu.in
the domain is pec.edu.in

Q6. Create a basic function that returns True if the word 'dog' is contained in the input string.

In [ ]:
def sen(sentence):
    sentence2 = sentence.split()
    for i in sentence2:
        if i == "dog":
            print("True")
            break

sentence = input()
sen(sentence)

hi dog my dog
True

Q7. Create a function that counts the number of times the word "dog" occurs in a string.

In [ ]:
def count(sentence):
  c = 0
  sen = sentence.split()
  for i in sen:
    if i == "dog":
      c += 1

  print(c)

sentence = input()
count(sentence)

hello dog what is up dog
2

Q8. Use lambda expressions and the filter() function to filter out words from a list that don't start with the
letter 's'.
For example: seq = ['soup','dog','salad','cat','great']

In [ ]:
seq = ['soup', 'dog', 'salad', 'cat', 'great']

filtered_words = filter(lambda word: word.startswith('s'), seq)

filtered_list = list(filtered_words)

print(filtered_list)

['soup', 'salad']

Q9. You are driving a little too fast, and a police officer stops you. Write a function to return one of 3 pos
sible results: "No Challan", "Small Challan", or "Heavy Challan". If your speed is 60 or less, the result is
"No Challan". If speed is between 61 and 80 inclusive, the result is "Small Challan". If speed is 81 or mor
e, the result is "Heavy Challan". Unless it is your birthday (encoded as a Boolean value in the parameters
of the function) -- on your birthday, your speed can be 5 higher in all cases.
caught_speeding(81,True)
caught_speeding(81,False)

In [ ]:
def challan(speed,birthday):
  if birthday == True:
    speed -= 5

  if speed<=60:
    print("no challan")
  elif 61<=speed<=80:
    print("small challan")
  elif speed>=80:
    print("heavy challan")


speed = int(input("enter speed: "))
birthday = input("enter True if it is your birthday, otherwise enter False: ")
challan(speed,birthday)

enter speed: 70
enter True if it is your birthday, otherwise enter False: False
small challan

Q10. Concatenate two lists index-wise
list1 = ["M", "na", "i", "She"]
list2 = ["y", "me", "s", "lly"]
Expected Outcome: ['My', 'name', 'is', 'Shelly']

In [ ]:
list1 = ["M", "na", "i", "She"]
list2 = ["y", "me", "s", "lly"]

list_final = []
for i in range(0,4):
  list_final.append(list1[i]+list2[i])

print(list_final)

['My', 'name', 'is', 'Shelly']

Q11. Concatenate two lists in the following order
list1 = ["Hello ", "take "]
list2 = ["Dear", "Sir"]
Expected Output: ['Hello Dear', 'Hello Sir', 'take Dear', 'take Sir']

In [ ]:
list1 = ["Hello ", "take "]
list2 = ["Dear", "Sir"]

list_final = []
for i in list1:
  for j in list2:
    list_final.append(i+j)

print(list_final)

['Hello Dear', 'Hello Sir', 'take Dear', 'take Sir']

Q12. Add item 7000 after 6000 in the following Python List
list1 = [10, 20, [300, 400, [5000, 6000], 500], 30, 40]

In [ ]:
list1 = [10, 20, [300, 400, [5000, 6000], 500], 30, 40]
list1[2][2].append(7000)
print(list1)

[10, 20, [300, 400, [5000, 6000, 7000], 500], 30, 40]

Q13. Given a Python list, remove all occurrence of 20 from the list
list1 = [5, 20, 15, 20, 25, 50, 20]

In [ ]:
list1 = [5, 20, 15, 20, 25, 50, 20]
for i in list1:
  if i == 20:
    list1.remove(i)

print(list1)

[5, 15, 25, 50]

Q14. Check if a value 200 exists in a dictionary
d1 = {'a': 100, 'b': 200, 'c': 300}

In [ ]:
d1={'a': 100, 'b': 200, 'c': 300}
for i in d1:
    if(d1[i]==200):
        print("Yes")

Yes

Q15. Find the sum of the series 2 +22 + 222 + 2222 + .. n terms

In [ ]:
def sum_of_series(n):
    total = 0
    term = 2
    for i in range(n):
        total += term
        term = term * 10 + 2
    return total


n = int(input("Enter the number of terms in the series: "))
result = sum_of_series(n)
print(f"The sum of the series up to {n} terms is: {result}")

Enter the number of terms in the series: 3
The sum of the series up to 3 terms is: 246